altgraph==0.16.1
certifi==2018.10.15
future==0.17.1
macholib==1.11
nltk==3.3
olefile==0.46
pefile==2018.8.8
Pillow==5.3.0
PyInstaller==3.4
pytesseract==0.1.7
pywin32-ctypes==0.2.0
six==1.11.0
Wand==0.4.4
wincertstore==0.2
